* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
  --transit: 0.15s;
  --border: #ccc;

  margin: 50px;
  max-width: 250px;
  position: relative;
}

.dropdown__back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: none;
  z-index: -1;
}

.dropdown__back.show {
  display: block;
  z-index: 0;
}

.dropdown__btn {
  border: 1px solid var(--border);
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

.dropdown__btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  background: url(../img/arrow-up.svg) no-repeat center;
  transform: rotate(180deg);
  transition: var(--transit);
}

.dropdown__btn.show::after {
  transform: rotate(0deg);
}

.dropdown__menu {
  border-radius: 7px;
  overflow-y: auto;
  border: 1px solid var(--border);
  transform: scaleY(0);
  transform-origin: top;
  transition: var(--transit);
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  max-height: 156px;
  box-shadow: 2px 3px 5px #0000004d;
  z-index: 1;
}

.dropdown__menu.show {
  transform: scaleY(100%);
}

.dropdown__list {
  list-style: none;
}

.dropdown__item {
  padding: 10px 15px;
  border-bottom: 1px solid var(--border);
  background-color: #fff;
  cursor: pointer;
  display: block;
}

.dropdown__item:last-child {
  border-bottom: none;
}

.dropdown__item:hover {
  background-color: gainsboro;
}

.dropdown__item.active {
  background-color: rgb(238, 238, 238);
}

.dropdown__checkbox {}